In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn
np.random.seed(101)

rand_mat = randn(5,4)

In [4]:
rand_mat

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [9]:
df = pd.DataFrame(data=rand_mat, index= 'A B C D E'.split(), columns = 'W X Y Z'.split())

In [10]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [11]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [12]:
mylist = ['W','Y']
df[mylist]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967

In [14]:
df[['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967

In [15]:
df['NEW'] = df['W'] + df['Y']
df

          W         X         Y         Z       NEW
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [19]:
df.drop('NEW', axis= 1, inplace=True) #clear drop -> inplace = true
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [22]:
df.drop('X', axis = 1)

          W         Y         Z
A  2.706850  0.907969  0.503826
B  0.651118 -0.848077  0.605965
C -2.018168  0.528813 -0.589001
D  0.188695 -0.933237  0.955057
E  0.190794  2.605967  0.683509

In [26]:
df.loc[['A','E']]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [28]:
df.iloc[0,2] #integer location

0.9079694464765431

In [30]:
df.loc[['A','E'],['Y','Z']]

          Y         Z
A  0.907969  0.503826
E  2.605967  0.683509

In [32]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [35]:
df[df['W'] > 0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [36]:
df[df['W'] > 0]['Y'].loc['A']

0.9079694464765431

In [38]:
df[df['W'] > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [40]:
cond1 = df['W'] > 0
cond2 = df['Y'] > 0

In [45]:
df[(cond1) & (cond2)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [51]:
df[(df['W'] > 0) & (df['Y'] > 0)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [53]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [64]:
df.reset_index(inplace = True) #is not inplace need to inplace = True

ValueError: cannot insert level_0, already exists

In [59]:
df

   level_0 index         W         X         Y         Z
0        0     A  2.706850  0.628133  0.907969  0.503826
1        1     B  0.651118 -0.319318 -0.848077  0.605965
2        2     C -2.018168  0.740122  0.528813 -0.589001
3        3     D  0.188695 -0.758872 -0.933237  0.955057
4        4     E  0.190794  1.978757  2.605967  0.683509

In [60]:
new_ind = 'CA NY WY OR CO'.split()
new_ind

['CA', 'NY', 'WY', 'OR', 'CO']

In [61]:
df['State'] = new_ind

In [63]:
df

   level_0 index         W         X         Y         Z State
0        0     A  2.706850  0.628133  0.907969  0.503826    CA
1        1     B  0.651118 -0.319318 -0.848077  0.605965    NY
2        2     C -2.018168  0.740122  0.528813 -0.589001    WY
3        3     D  0.188695 -0.758872 -0.933237  0.955057    OR
4        4     E  0.190794  1.978757  2.605967  0.683509    CO

In [84]:
df.set_index('State',inplace=True)

In [76]:
df.drop('index', axis =1, inplace=True)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      float64
 1   X       5 non-null      float64
 2   Y       5 non-null      float64
 3   Z       5 non-null      float64
 4   State   5 non-null      object
dtypes: float64(4), object(1)
memory usage: 328.0+ bytes

In [82]:
df.describe()

              W         X         Y         Z
count  5.000000  5.000000  5.000000  5.000000
mean   0.343858  0.453764  0.452287  0.431871
std    1.681131  1.061385  1.454516  0.594708
min   -2.018168 -0.758872 -0.933237 -0.589001
25%    0.188695 -0.319318 -0.848077  0.503826
50%    0.190794  0.628133  0.528813  0.605965
75%    0.651118  0.740122  0.907969  0.683509
max    2.706850  1.978757  2.605967  0.955057

In [86]:
df['W'] > 0

State
CA     True
NY     True
WY    False
OR     True
CO     True
Name: W, dtype: bool

In [88]:
ser_w = df['W'] > 0

In [89]:
sum(ser_w)

4

In [91]:
ser_w
len(ser_w)

5