In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv('../PYTORCH_NOTEBOOKS/00-Crash-Course-Topics/01-Crash-Course-Pandas/example.csv')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int64
 1   b       4 non-null      int64
 2   c       4 non-null      int64
 3   d       4 non-null      int64
dtypes: int64(4)
memory usage: 256.0 bytes

In [29]:
newdf = df[['a','b']]
newdf

    a   b
0   0   1
1   4   5
2   8   9
3  12  13

In [30]:
newdf.to_csv('mynew.csv',index = True)

In [31]:
df = pd.read_excel('../PYTORCH_NOTEBOOKS/00-Crash-Course-Topics/01-Crash-Course-Pandas/Excel_Sample.xlsx', sheet_name='Sheet1')
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [32]:
df.columns

Index(['Unnamed: 0', 'a', 'b', 'c', 'd'], dtype='object')

In [33]:
df.drop('Unnamed: 0', axis=1,inplace =True)
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [38]:
mylist_of_tables = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

ImportError: lxml not found, please install it